// write your custom scss/css here
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
.blog-wrap .blog-img {
    position: relative;
    overflow: hidden;
   height: 265px;
  }
  .height-100[data-v-7d6b18c5] {
    border-bottom: solid 3px #41AB34 !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0060a8;
    color: #fff !important;
  }
  
.border-grey{

    border: solid 2px #e9ecef;

}
.custom-sub-title[data-v-7d6b18c5] {
    font-weight: 600 !important;
    color: #0060A8 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
  }
  .nav-link {
    color: #0060a8 !important;
    font-weight: 600 !important;
  }