// write your custom scss/css here
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
.blog-wrap .blog-img {
    position: relative;
    overflow: hidden;
   height: 265px;
  }
  .height-100[data-v-7d6b18c5] {
    border-bottom: solid 3px #08b708 !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0060a8;
    color: #fff !important;
  }
  
.border-grey{

    border: solid 2px #e9ecef;

}
.custom-sub-title[data-v-7d6b18c5] {
    font-weight: 600 !important;
    color: #0060A8 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
  }
  .nav-link {
    color: #0060a8 !important;
    font-weight: 600 !important;
  }
  .container {
    max-width: 1320px !important;
  }
  .btn_consulter{
    background: #868C8D;
    width: 100%;
    padding-left: 15px;
    color: #fff;
  }
  .table > :not(:first-child) {
    border-top: 0px currentColor !important;
  }
    .table > thead {
      vertical-align: center !important;
      background-color: #dde0e291 !important;
    }
    .table > :not(caption) > * > * {
      padding: 1rem 1rem !important;
      background-color: var(--bs-table-bg);
      border-bottom-width: 1px;
      box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    .grey-bg{
      background-color: #dbe3eba1;
  }
  .border-bottom-green{
    border-bottom: solid 3px #08b708 !important;
  }
  .header-padding-1 .container-fluid, .header-padding-1 .container-sm, .header-padding-1 .container-md, .header-padding-1 .container-lg, .header-padding-1 .container-xl, .header-padding-1 .container-xxl {
    padding: 0 108px;
  }
  .main-menu nav ul li > a {
    font-size: 14px;
    color: #555252;
    font-weight: 500;
    letter-spacing: 0.8px;
    display: inline-block;
    line-height: 90px;
  }
  .custom-text-white {
    p {
      color: #fff !important;
    }
  }
  .custom-padding-white{
    padding: 33px !important;
    padding-left: 58px !important;
  }
.custom-row {
    display: table;
}
.custom-row-2{
  display: table;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: 0px;
}
.margin-left-0{
  margin-left: 0px !important;
  margin-right: -30px !important;
}
.width-100{
  width: 100%;
}
.numero{
  p{
    color: #0060a8;
    font-size: 14px;
    font-weight: 600;
 }
}
.custom-title{
  font-weight: 600;
  font-size: 26px !important;
  color: #0060a8;
}