// write your custom scss/css here
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
.blog-wrap .blog-img {
    position: relative;
    overflow: hidden;
   height: 265px;
  }